name: Keep Website Alive

on:
  schedule:
    - cron: "0 */3 * * *" # Every 3 hours
  workflow_dispatch: # Allows manual trigger from GitHub Actions tab

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Check Website Status
        run: curl -I https://shopbackend-58gp.onrender.com/api/Product
